<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Fashion Social Media
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <a href="{% url 'home' %}"><h2>fsm</h2></a>
            <a href="{% url 'home' %}"><p>Fashion Social Media</p></a>
        </div>
        <ul>
            <li>
                <a href="{% url 'explore' %}" >
                    <i class='bx bx-compass'></i>
                    <span class="nav-item">Explore</span>
                </a>
            </li>
            <li>
                <a href="{% url 'notifications' %}">
                    <i class='bx bx-bell'></i>
                    <span class="nav-item">Notifications</span>
                </a>
            </li>
            <li>
                <a href="{% url 'boards' %}">
                    <i class='bx bx-photo-album' ></i>
                    <span class="nav-item">Boards</span>
                </a>
            </li>
            <li>
                <a href="{% url 'polls' %}">
                    <i class='bx bx-poll' ></i>
                    <span class="nav-item">Polls</span>
                </a>
            </li>
            <li>
                <a href="{% url 'discussions' %}">
                    <i class='bx bx-conversation' ></i>
                    <span class="nav-item">Discussions</span>
                </a>
            </li>
            <li>
                <a href="{% url 'news' %}">
                    <i class='bx bx-news' ></i>
                    <span class="nav-item">News</span>
                </a>
            </li>
            <li>
                <a href="{% url 'create' %}">
                    <i class='bx bx-plus-circle'></i>
                    <span class="nav-item">Create</span>
                </a>
            </li>
            <li>
                <a href="{% url 'signin' %}">
                    <i class='bx bx-log-out' ></i>
                    <span class="nav-item">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>

<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function() {
        sidebar.classList.toggle('active')

    }

    window.onload = function() {

    // Check local storage on page load
    let sidebarState = localStorage.getItem('sidebarState');
    if (sidebarState === 'open') {
        sidebar.classList.add('active');
    } else {
        sidebar.classList.remove('active');
    }

    btn.onclick = function() {
        sidebar.classList.toggle('active');

        // Save state to local storage on button click
        if (sidebar.classList.contains('active')) {
            localStorage.setItem('sidebarState', 'open');
        } else {
            localStorage.setItem('sidebarState', 'closed');
        }
    }
}
</script>

</html>