{% extends 'base.html' %}

{%block head %}

{% block title %}
Create Post
{% endblock %}



{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/styles/createstyle.css">

<div class="create-post-container">
    <form method="post" enctype="multipart/form-data" class="create-post-form">
        {% csrf_token %}
        <h2 class="create-post-title">Post a new photo</h2>

        <div class="create-post-body">
            <div class="left-panel">

                <label for="id_image" class="image-upload-label">

                    <input type="file" name="image" accept="image/*" required="" aria-invalid="true" id="id_image">

                    <div class="image-upload-placeholder">
                        <div class="plus-icon">+</div>
                        <div class="add-photos-text">Add photos</div>
                    </div>

                    <img id="imagePreview" src="#" alt="Image Preview" class="image-preview" loading="lazy"/>
                </label>
            </div>

            <div class="right-panel">
                <div class="user-info">

                    <i class='bx bx-user'></i>
                    <p class="username">{{ user.username }}</p>

                </div>

                <div class="caption-container">
                    <label for="{{ form.caption.id_for_label }}">Caption</label>
                    <label for="id_caption"></label><textarea id="id_caption" name="caption" class="form-control" placeholder="Write your caption here..." rows="4" style="min-height: 200px; min-width: 130%; line-height: 1.5;"></textarea>

                </div>

            </div>
            <button type="submit" class="post-button">Post</button>
        </div>
    </form>
</div>

<script>

document.addEventListener("DOMContentLoaded", function() {
    var fileInput = document.getElementById('id_image');
    var imagePreview = document.getElementById('imagePreview');
    var imagePlaceholder = document.querySelector('.image-upload-placeholder');

    fileInput.addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            imagePreview.src = reader.result;
            imagePreview.style.display = 'block';
            imagePlaceholder.style.display = 'none';
        };
        reader.readAsDataURL(event.target.files[0]);
    });
});
</script>

{% endblock %}