{% extends "base.html" %}
{% block title%} Home  {% endblock %}
{% block content %}


<link rel="stylesheet" href="../static/styles/homestyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% for post in posts %}
<div class="post">
    <div class="post-user">
        <div class="user-info">
            <div class="user-icon"><i class='bx bx-user'></i></div>
            <div class="user-name">
                {{ post.user.username }}
            </div>
        </div>
    </div>
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="{{ post.caption }}" loading="lazy">
    </div>
    <div class="post-caption">
        <p>{{ post.user.username }}</p>
        <p>{{ post.caption }}</p>
    </div>

    <div class="post-interactions">
    <button class="like-btn" data-post-id="{{ post.id }}" id="like-btn-{{ post.id }}">
        {% if post.is_liked %}
            <i class='bx bxs-heart' ></i>
        {% else %}
            <i class='bx bx-heart' ></i>
        {% endif %}
        <p id="like-count-{{ post.id }}">{{ post.likes.count }}</p>
    </button>

    <form id="comment-form" data-post-id="{{ post.id }}">
        {% csrf_token %}
        <textarea id="comment-textarea" name="comment" placeholder="Write a comment..."></textarea>
        <button type="submit" class="comment-btn">
            <i class='bx bx-paper-plane'></i>
        </button>
    </form>
    </div>
    <div id="comments-section">
        {% for comment in post.comments.all %}
            <div class="comment {% if forloop.counter > 2 %} extra-comment hidden {% endif %}">
                <p class="bold">{{ comment.author }}</p> <p>{{ comment.content }}</p>
                <small>{{ comment.date_posted|timesince }} ago</small>
            </div>
        {% endfor %}
        {% if post.comments.count > 2 %}
            <a href="#" class="toggle-comments" data-expanded="false" data-total-comments="{{ post.comments.count }}">View all {{ post.comments.count }} comments</a>
        {% endif %}
    </div>
    <div class="post-date">
        <p>{{ post.date_posted|timesince}} ago</p>
    </div>
</div>
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
$(document).ready(function(){
    $('.like-btn').click(function(e){
        e.preventDefault();
        var post_id = $(this).data('post-id');
        var btn = $(this);
        $.ajax({
            type: 'POST',
            url: `/post/${post_id}/like/`,
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                var icon = btn.find('i');
                var likeText = btn.find('p');


                if(response.is_liked){
                    icon.removeClass('bx bx-heart').addClass('bx bxs-heart');
                    likeText.text(response.total_likes );
                } else {
                    icon.removeClass('bx bxs-heart').addClass('bx bx-heart  ');
                    likeText.text(response.total_likes);
                }
            },
            error: function(response){
                alert('Something went wrong. Please try again.');
            }
        });
    });
});


$(document).ready(function(){
    $('.toggle-comments').click(function(e){
        e.preventDefault();
        const isExpanded = $(this).data('expanded') === 'true';
        const totalComments = $(this).data('total-comments');
        if (isExpanded) {

            $('.comment.extra-comment').addClass('hidden');
            $(this).text(`View all ${totalComments} comments`).data('expanded', 'false');
        } else {

            $('.comment.extra-comment').removeClass('hidden');
            $(this).text('View Less').data('expanded', 'true');
        }
    });
});






$(document).ready(function(){
    $('#comment-form').submit(function(e){
        e.preventDefault();
        var post_id = $(this).data('post-id');
        $.ajax({
            type: 'POST',
            url: `/post/${post_id}/comment/`,
            data: {
                comment: $('#comment-textarea').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response){
                // Append the new comment to the comments section
                // Adjust selectors and HTML structure as needed
                $('#comments-section').append(
                    `<div class="comment"><p>${response.author}: ${response.comment}</p><small>${response.date_posted}</small></div>`
                );
                $('#comment-textarea').val(''); // Clear the textarea
            },
            error: function(response){
                alert('Your comment could not be posted. Please try again.');
            }
        });
    });
});



</script>
{% endblock %}
