
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/registerstyle.css">
    <link rel="stylesheet" href="../static/styles/style.css">

    <title>Register</title>
</head>
<body>


<div class="container">
<h2>fsm™</h2>
<h3>Login here!</h3>
    <form method="POST" action="">
    {% csrf_token %}
    <label><i class="bx bx-user"></i> Username</label>
    <label>
            <input type="text" name="username" placeholder="Enter Username..." >
        </label>

    <br>
    <label><i class="bx bx-lock-alt"></i> Password</label>
        <label>
            <input type="password" name="password" placeholder="Enter Password..." >

        </label>
    <br>
    <input type="submit" value="Log in!">
    </form>
    {% for message in messages %}
    <p class="error-message">{{ message }}</p>
    {% endfor %}
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>

</body>
</html>