{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
.card-body{
    background-color: #fffaf5;
}
.btn-primary{
    background-color: #5E679F;
    border-color: #5E679F;
}
.btn-primary:hover{
    background-color: #494f7c;
    border-color: #494f7c;
}
.col-md-4 {
    border-radius: 25px;
}
</style>

<h1>Latest Fashion News</h1>
<div class="container">
    <div class="row">
        {% for item in news_items %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if item.multimedia %}
                <img src="{{ item.multimedia.0.url }}" class="card-img-top" alt="{{ item.title }} loading="lazy">
                {% else %}
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.abstract }}</p>
                    <a href="{{ item.url }}" target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

