{% extends 'base.html' %}

{% block content %}
<h2>Active Polls</h2>
{% for item in poll_data %}
    <div>
        <h3>{{ item.poll.question }}</h3>
        <form method="post" action="{% url 'vote' item.poll.id %}">
            {% csrf_token %}
            {% for choice in item.poll.choices.all %}
                <input type="radio" name="vote" value="{{ choice.id }}">{{ choice.choice_text }}<br>
            {% endfor %}
            <button type="submit">Vote</button>
        </form>
        <h4>Results:</h4>
        <ul>
            {% for result in item.results %}
                <li>{{ result.choice_text }}: {{ result.percentage|floatformat:2 }}%</li>
            {% endfor %}
        </ul>
        <h4>Comments:</h4>
        {% for comment in item.poll.comments.all %}
            <p>{{ comment.comment_text }} - <small>{{ comment.created_by.username }}</small></p>
        {% endfor %}
        <form method="post" action="{% url 'add_comment' item.poll.id %}">
            {% csrf_token %}
            {{ item.comment_form.as_p }}
            <button type="submit">Comment</button>
        </form>
    </div>
{% empty %}
    <p>No polls available.</p>
{% endfor %}
{% endblock %}
