.discussion-content .discussion-post {
    background-color: #fffaf5;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 1024px;
    width: 80%;
}

.discussion-content .discussion-post h3 {
    color: #5d669e;
    font-size: 24px;
    margin-bottom: 10px;
}

.discussion-content .discussion-post p {
    font-size: 16px;
    color: #333;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.discussion-content .discussion-post small {
    font-size: 14px;
    color: #666;
}

.discussion-content form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.discussion-content input[type="text"], .discussion-content button {
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 12px;
    border: 1px solid #dbdbdb;
}

.discussion-content button {
    background-color: #5E679F;
    width: 5rem;
    display: inline;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 55px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.discussion-content button:hover {
    background-color: #494f7c;
    box-shadow: 2px 2px 5px grey;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

form p textarea {
    resize: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

form p input[type="text"], form p textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
}

