*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.sidebar{
    position: fixed ;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background: #FFF8F0;
    transition: all 0.5s ease;
    border-right:solid 1px #e6dfd8;
}


.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    position: absolute;
    color: #5E679F;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}


.sidebar .top .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0 ;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p{
    color: #5E679F;
    opacity: 1;
    margin-left: 1rem;
    text-align: left;
}

.user h2{
    color: #5E679F;
    opacity: 1;
    margin-left: 1rem;
    text-align: center;

}
.user a{
    text-decoration: none;

}

.sidebar p{
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 65%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar.active ul li{
    width: 90%;
}

.sidebar ul li a{
    color: #5E679F;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background: #e6dfd8;
    color: #FFF8F0;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.main-content{
    position: relative;
    background-color: #FFF8F0;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}
