*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar{
    position: fixed ;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background: #FFF8F0;
    border-right:solid 1px #e6dfd8;
}


.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    z-index: 101;
    position: absolute;
    color: #5E679F;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}


.sidebar .top .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0 ;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p{
    color: #5E679F;
    opacity: 1;
    margin-left: 1rem;
    text-align: left;
}

.user h2{
    color: #5E679F;
    opacity: 1;
    margin-left: 1rem;
    text-align: center;

}
.user a{
    text-decoration: none;

}

.sidebar p{
    opacity: 0;
    width: 140px;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 65%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar.active ul li{
    width: 90%;
}

.sidebar ul li a{
    color: #5E679F;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background: #e6dfd8;
    color: #FFF8F0;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{  
    opacity: 1;
    width: 260px;
}

.main-content{
    position: relative;
    background-color: #FFF8F0;
    min-height: 100vh;
    top: 0;
    left: 80px;
    width: calc(100% - 80px);
    padding: 60px 1rem 1rem;
    transition: padding-top 0.5s ease;
}


.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}

.search-container {;
    background-color: transparent;
    z-index: 100;
    box-shadow: none;
    position: fixed;
    top: 15px;
    left: 250px;
    width:83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

#search-input {
    flex-grow: 1;
    margin-right: 2px;
    width: calc(100% - 90px);
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #5E679F;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    height: 40px;
}

#search-btn {
    white-space: nowrap;
    padding: 10px 15px;
    background: #5E679F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    height: 40px;
}

#search-btn i {
    font-size: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333; /* Adjust the text color as needed */
}

.user-icon {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Makes the icon background a circle */
    background-color: #e6dfd8; /* Adjust the background color as needed */
}

.user-icon i {
    font-size: 24px; /* Adjust icon size inside the circle */
    color: #666; /* Adjust the icon color as needed */
}

.user-name {
    font-weight: bold; /* Adjust as needed */
    font-size: 16px; /* Adjust the font size as needed */
    color: #5E679F; /* Adjust the text color as needed */
    white-space: nowrap; /* Prevents the name from wrapping */
    overflow: hidden; /* Ensures text overflow is hidden */
    text-overflow: ellipsis; /* Adds an ellipsis to overflowed content */
    max-width: 150px; /* Adjust based on the available space */
}



